*{
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url('../../client/src/image/bgImg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    opacity: 0.9;
}
a{
    text-decoration: none;
}
.signOut-btn{
    margin-left: 10px;
}

.nav-item a{
    text-decoration: none;
    padding: 10px;
    color: antiquewhite;
    margin: 10px;
}
.nav-item a:hover{
    border-bottom: 1px solid lightgray;
}
.navbar-bg{
    background-image: linear-gradient(130deg, #0b0a36 0%, #2d77e7 100%);
    height: 100px;
}
.googleLoginBtn{
    color: #fff;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #7347a5d5, #322f6dc4);
    padding: 10px;
}
.findMoreBtn{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #623892, #322f6d);
    padding: 10px;
}
.findMoreBtn,.googleLoginBtn:hover{
    color: #fff;
}
.notice-img {
    border-radius: 100px 0 100px 0;
}
.user{
    border-radius: 50px;
    width: 50px;
    margin-right: 10px;
}
.notice{
    color:aliceblue;
}
.notice-container{
    background-image: url('../../client/src/image/noticeBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.guaranteed-container{
    color: aliceblue;
    background-image: url('../../client/src/image/GuaranteedBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.presence-container{
    color: aliceblue;
    background-image: url('../../client/src/image/GuaranteedBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.blog-container{
    color: aliceblue;
    background-image: url('../../client/src/image/GuaranteedBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.business-payment-container{
    color: aliceblue;
    background-image: url('../../client/src/image/GuaranteedBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.navbar{
    position: fixed;
    width: 100%;
}
.card-img img{
    width: 70px;
}
.social-icon img{
    width: 50px;
    margin: 0 10px;
}
.cards{
    background-color: #6149b8;
    margin: 40px;
    padding: 40px;
    min-height: 300px;
    color: rgb(213, 214, 216);
    font-weight: bold;
    border-radius: 40px 0px;
}
.admin-container{
    min-height: 100vh;
    background-color: #2d77e7;
    
}
.side-nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 10px;
    padding: 10px;
}
.side-nav a:hover {
    color:rgb(149, 152, 155);
}
.sidebar-container{
    margin: -12px;
    min-height: 700px;
    background-color: rgb(4, 4, 83);
    position: fixed;
    top: 0;
}
.business-title{
    background-color:rgb(22, 83, 145);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 40px 0;
}
.contact-form-container{
    color: aliceblue;
    background-image: url('../../client/src/image/GuaranteedBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

form input[type="text"], input[type="url"]{
    width: 50%;
}
form input[type="file"]{
    width: 250px;
}
.contact-form input[type="text"]{
    width: 100%;
}
.blog-form textarea{
    width: 50%;
}
.blog-img img{
    width: 100%;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
}
.portfolio-img img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.login-container{
    color: aliceblue;
    background-image: url('../../client/src/image/GuaranteedBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.login-form input[type="text"]{
    width: 100%;
}
img:hover {
    animation: shake 0.5s;
    animation-iteration-count: .1s;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.footer{
    margin-top: -48px;
    color: aliceblue;
    background-image: url('../../client/src/image/GuaranteedBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


